<div class="loginOverlay">
    <div class="loginSpacer">

    </div>
    <div class="loginContainer">

        <div class="loginClose" ng-click="hideLoginOverlay()">
            <i class="fa fa-close"></i>
        </div>
        <div class="loginLogoContainer">
            <a href="http://homeluxe.in"><img src="../images/MENU.png" class="loginLogo"></a>
        </div>

        <div class="loginPanel">
            <div class="loginTitleContainer">Sign-in to HomeLuxe</div>
            <input type="text" class="inputBox" ng-model="guest.email" placeholder="USERNAME">
            <input type="password" class="inputBox" ng-model="guest.password" placeholder="PASSWORD">

            <div class="registerButton" ng-click="userRegister()">
                SIGN-UP
            </div>

            <div class="loginButton" ng-click="login()">
                LOGIN
            </div>

            <div class="faceBookLogin" ng-click="facebookLogin()">
                Connect with Facebook &nbsp;&nbsp; <i class="fa fa-facebook"></i>
            </div>
        </div>

        <div class="registerPanel" style="display: none;">
            <div class="loginTitleContainer">Sign-up for HomeLuxe</div>

            <input type="text" class="inputBox" ng-model="guest.name" placeholder="FULL NAME">
            <input type="email" class="inputBox" ng-model="guest.email" placeholder="EMAIL ADDRESS">
            <input type="password" class="inputBox" ng-model="guest.password" placeholder="PASSWORD">

            <div class="loginButton" style="background: #DDD; padding: 22px 10px 22px 10px; width: 210px; color: #555;" ng-click="showLogin()">
                HAVE AN ACCOUNT?
            </div>

            <div class="registerButton regStep2" style="width: 120px; " ng-click="submitRegister()">
                SIGN-UP
            </div>

            <div class="faceBookLogin" ng-click="facebookLogin()">
                Connect with Facebook &nbsp;&nbsp; <i class="fa fa-facebook"></i>
            </div>

        </div>

    </div>

    <div class="alertMessage">Alert Message Text</div>
</div>