<div class="loginOverlay">
    <div class="loginSpacer">

    </div>
    <div class="loginContainer">

        <div class="loginClose" ng-click="hideLoginOverlay()">
            <i class="fa fa-close"></i>
        </div>
        <div class="loginLogoContainer">
            <a href="http://homeluxe.in"><img src="../images/MENU.png" class="loginLogo"></a>
        </div>

        <div class="loginPanel">
            <div class="loginTitleContainer">Sign-in to HomeLuxe</div>
            <input type="text" class="inputBox" id="username" placeholder="USERNAME">
            <input type="password" class="inputBox" id="password" placeholder="PASSWORD">

            <div class="registerButton" ng-click="userRegister()">
                SIGN-UP
            </div>

            <div class="loginButton" ng-click="login($('#username').val(),$('#password').val())">
                LOGIN
            </div>

            <div class="faceBookLogin" ng-click="facebookLogin()">
                <i class="fa fa-facebook"></i>
            </div>
        </div>

        <div class="registerPanel" style="display: none;">
            <div class="loginTitleContainer">Sign-up for HomeLuxe</div>

            <input type="text" class="inputBox" id="regName" placeholder="FULL NAME">
            <input type="email" class="inputBox" id="regEmail" placeholder="EMAIL ADDRESS">
            <input type="text" class="inputBox" id="regPhone" placeholder="PHONE NUMBER">
            <input type="password" class="inputBox" id="regPassword" placeholder="PASSWORD">

            <div class="loginButton" style="background: #DDD; color: #555;" ng-click="showLogin()">
                BACK TO LOGIN
            </div>

            <div class="registerButton regStep2" ng-click="submitRegister()">
                SIGN-UP
            </div>

        </div>

    </div>

    <div class="alertMessage">Alert Message Text</div>
</div>