.actionButton {
    display: inline-block;
    background: #468FDE;
    color: #FFF;
    font-size: 20px;
    padding: 18px 30px 18px 30px;
    margin-top: 50px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.resultCard {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #EEE;
    text-align: center;
}

.coverContainer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #EEE;
    text-align: center;
}

.coverTitle {
    font-size: 40px;
    color: #000;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0px 100px 0px 100px;
    text-align: left;
    font-family: RobotoLight;
}

.coverSubtitle {
    font-size: 30px;
    color: #222;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0px 100px 0px 100px;
    text-align: left;
    font-family: RobotoLight;
}

.coverText {
    font-size: 20px;
    color: #222;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 50px 50px 100px;
    text-align: left;
    font-family: RobotoLight;
    float: left;
}

.coverImage {
    height: 100%;
    width: 60%;
    float: right;
}


.coverBG {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.coverFG {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.coverTop {
    width: 100%;
    height: 170px;
    float: top;
    box-sizing: border-box;
    padding-top: 90px;
}

.coverBottom {
    width: 100%;
    height: calc(100% - 170px);
    float: top;
}

.coverPic {
    width: 70%;
    float: left;
    margin-left: 70px;
    margin-top: 30px;
}


.likeButton {
    margin-top: 14px;
    float: left;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    margin-left: 12px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    background: white;
    display: inline-block;
    cursor: pointer;
    color: #333;
    text-transform: uppercase;
}

.styleContainer {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.headerBar {
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.90);
    float: top;
    transition: all ease .2s;
}

.headerBar:hover {
    background: rgba(255, 255, 255, .97);
}

.shareStyle {
    float: left;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    opacity: .8;
    transition: all ease .3s;
}

.shareStyle:hover {
    opacity: 1;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.facebookStyle {
    color: darkslateblue !important;
}

.styleContainer {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.imageNav {
    width: 100%;
    height: calc(100% - 140px);
    background: rgba(0, 0, 0, 0.05);
    float: top;
}

.optionBar {
    width: 100%;
    height: 140px;
    float: top;
    background: rgba(255, 255, 255, 0.90);
    transition: all ease .2s;
}

.optionBar:hover {
    background: rgba(255, 255, 255, 0.97);
}

.browseLooks {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    margin-top: 14px;
    float: right;
    margin-right: 12px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
}

.callDesigner {
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    margin-top: 14px;
    float: right;
    margin-right: 12px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    background: yellowgreen;

}

.leftNav {
    width: 100px;
    height: 100%;
    float: left;
    text-align: center;
}

.rightNav {
    width: 100px;
    height: 100%;
    float: right;
    text-align: center;
}

.resultLogo {
    height: 40px;
    margin-top: 15px;
    float: left;
    margin-left: 70px;
    cursor: pointer;
}

.navAngles {
    font-size: 100px;
    margin: 0 auto;
    color: rgba(0, 0, 0, .65);
    transition: all ease .3s;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.navAngles:hover {
    color: rgba(255, 255, 255, 1);
}

.viewInfo {

    height: 45px;
    float: left;
    margin-top: 12.5px;
    margin-left: 20px;
    display: inline-block;
    padding: 12px;
    font-family: RobotoLight;
    font-size: 18px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    transition: all ease .2s;
}

@media only screen and (max-width: 800px) {



    .coverTitle {
        font-size: 20px;
        color: #000;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 0px 15px 0px 15px;
        text-align: center;
        font-family: RobotoLight;
    }


    .coverSubtitle {
        font-size: 15px;
        color: #222;
        width: 100%;
        height: 20px;
        margin-top: 10px;
        box-sizing: border-box;
        padding: 0px 15px 0px 15px;
        text-align: center;
        font-family: RobotoLight;
    }


    .coverBG {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .coverFG {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 9999;
        text-align: center;
    }

    .coverTop {
        width: 100%;
        height: 100px;
        float: top;
        box-sizing: border-box;
        padding-top: 20px;
    }

    .coverBottom {
        width: 100%;
        height: calc(100% - 100px);
        float: top;
    }

    .coverText {
        font-size: 15px;
        color: #222;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        padding: 15px;
        font-family: RobotoLight;
        float: top;
    }

    .coverImage {
        margin-top: 10px;
        width: 100%;
        height: 180px;
        float: top;
        text-align: center !important;
    }


    .coverPic {
        height: 100%;
        width: auto;
        margin: 0 auto !important;
        float: none;
    }

    .actionButton {

        margin: 0 auto;
        display: inline-block;
        background: #468FDE;
        color: #FFF;
        font-size: 16px;
        padding: 9px 15px 9px 15px;
        margin-top: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .likeButton {
        margin-top: 0px;
        margin-left: 0px;
        float: left;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        font-size: 15px;
        padding: 5px;
        background: white;
        display: inline-block;
        cursor: pointer;
        color: #333;
        text-transform: uppercase;
    }

    .iconContainer {
        display: inline-block;
        width: 50% !important;
        float: left;
    }

    .hideMobile {
        display: none;
    }

    .viewInfo {

        height: 35px;
        float: left;
        margin-top: 17.5px;
        margin-left: 10px;
        display: inline-block;
        padding: 10px 2px 10px 2px;
        font-family: RobotoLight;
        font-size: 13px;
        box-sizing: border-box;
        text-transform: uppercase;
        color: #000;
    }

    .logoButton {
        height: 25px;
        margin-top: 19.5px;
    }

    .resultLogo {
        height: 25px;
        margin-top: 22.5px;
        float: left;
        margin-left: 10px;
    }

    .leftNav {
        width: 50px;
        background: rgba(0, 0, 0, 0.1);
    }

    .rightNav {
        width: 50px;

        background: rgba(0, 0, 0, 0.1);
    }

    .navAngles {
        font-size: 50px;
    }

    .optionBar {
        height: 80px;
    }

    .imageNav {
        height: calc(100% - 150px);
    }

    .shareStyle {
        float: left;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 10px;
        float: left;
        opacity: .8;
        transition: all ease .3s;
    }

    .logoButton {
        float: left;
        margin-left: 10px;
    }

    .iconContainer {
        width: 100%;
        display: inline-block;
    }

    .browseLooks {
        margin-top: 5px;
        float: left;
        margin-left: 5px;
        font-size: 14px;
        padding: 8px 5px 8px 5px;
    }

    .callDesigner {
        margin-top: 5px;
        float: right;
        margin-right: 5px;
        font-size: 14px;
        padding: 8px 5px 8px 5px;
    }

    .headerSpacer {
        width: 150px;
    }

}