<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
        <div class="questionText">
            {{question}}
        </div>

        <div class="questionOptions" ng-repeat="option in options">
            <div class="option animated fadeInUp"  ng-click="saveAnswer(option.id)">
                <div class="optionImageContainer"></div>
                <div class="optionText">{{option.name}}</div>
            </div>
        </div>
    </div>

    <div ng-show="quizOver">
        <h2>Quiz is over</h2>
        <button ng-click="reset()">Play again</button>
    </div>
</div>

<div class="intro" ng-show="!inProgress">
    <p>Welcome to the QuizApp</p>
    <button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>